* {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    padding: 40px 0;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.descr {
    margin-bottom: 40px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

input[type="url"] {
    font-size: 15px;
    width: 70%;
}

button {
    font-size: 20px;
    width: 25%;
    cursor: pointer;
}

.error-message {
    display: none;
    margin-bottom: 40px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.error-message-active {
    display: block;
}

hr {
    margin-bottom: 40px;
}

#qrcode {
    width: 512px;
    height: 512px;
}

.qrcode-container {
    display: flex;
    justify-content: center;
}